@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 14px;
}

body {
  background: #afb3b4;
  padding: 5rem;
}

.card {
  background: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

html.dark body {
  background: #040d19;
  color: #ffffff;
}

html.dark .card {
  background: #071426;
}
